.smile {
  background-repeat: no-repeat;
  background-size: contain;
  width: 26px;
  height: 26px;
}

.smile-block {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.smile-row {
  display: flex;
  gap: 15px;
}

.smile-row__smile {
  margin-right: 15px;
}

.smile-good {
  background-image: url('../../images/good-inactive.svg');
}

.smile-good_active {
  background-image: url('../../images/good.svg');
}

.smile-ok {
  background-image: url('../../images/ok-inactive.svg');
}

.smile-ok_active {
  background-image: url('../../images/ok.svg');
}

.smile-bad {
  background-image: url('../../images/bad-inactive.svg');
}

.smile-bad_active {
  background-image: url('../../images/bad.svg');
}

.smile-text {
  font-family: 'PTRootUIWebRegular', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: var(--color-light-grey);
  align-self: center;
}

.smile-text_type_good {
  color: var(--color-green);
}

.smile-text_type_ok{
  color: var(--color-dark-grey);
}

.smile-text_type_bad {
  color: var(--color-orange);
}
