.card-article {
  border-radius: 30px;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-article__select {
  opacity: 0.3;
}

.card-article__link {
  margin-top: 15px;
}

.card-article_color_yellow {
  background-color: var(--color-yellow);
}

.card-article_color_green {
  background-color: var(--color-green);
}

.card-article_color_light-blue {
  background-color: var(--color-light-blue);
}

.card-article_color_orange {
  background-color: var(--color-orange);
}

.card-article_size_s {
  max-width: 570px;
}

@media screen and (max-width: 1440px) {
  .card-article_size_s {
    max-width: 370px;
  }
}

@media screen and (max-width: 425px) {
  .card-article_size_s {
    max-width: 290px;
  }
}

.card-article__text_size_l {
  width: 100%;
  padding-bottom: 71px;
}

@media screen and (max-width: 1024px) {
  .card-article__text_size_l {
    padding-bottom: 181px;
  }
}

@media screen and (max-width: 860px) {
  .card-article__text_size_l {
    padding-bottom: 66px;
  }
}

.card-article__text_size_m {
  padding-bottom: 70px;
  padding-top: 15px;
  box-sizing: border-box;
}


@media screen and (max-width: 1400px) {
  .card-article__text_size_m {
    padding-bottom: 60px;
    padding-top: 5px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 425px) {
  .card-article__text_size_m {
    padding-bottom: 37px;
    padding-top: 5px;
  }
}

.card-article__title_size_m {
  padding-bottom: 5px;
  max-height: 60px;
  overflow: hidden;
}

@media screen and (max-width: 1400px) {
  .card-article__title_size_m {
    max-height: 46px;
  }
}

.card-article__title_size_s {
  padding-bottom: 5px;
  max-height: 88px;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .card-article__title_size_s {
    max-height: 64px;
  }
}

.card-article__text_size_s {
  padding-bottom: 71px;
  padding-top: 5px;
}

@media screen and (max-width: 1440px) {
  .card-article__text_size_s {
    padding-bottom: 41px;
  }
}

@media screen and (max-width: 1024px) {
  .card-article__text_size_s {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 425px) {
  .card-article__text_size_s {
    padding-bottom: 25px;
  }
}

.card-article__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.card-article__content_size_l {
  padding: 120px 400px 30px;
}

@media screen and (max-width: 1440px) {
  .card-article__content_size_l {
    padding: 120px 100px 30px;
  }
}

@media screen and (max-width: 1024px) {
  .card-article__content_size_l {
    padding: 30px 40px 15px;
  }
}

@media screen and (max-width: 860px) {
  .card-article__content_size_l {
    padding: 30px 15px 15px;
  }
}

.card-article__content_size_m {
  padding: 15px 30px 30px;
}

@media screen and (max-width: 1400px) {
  .card-article__content_size_m {
    padding: 15px 30px 15px;
  }
}

@media screen and (max-width: 425px) {
  .card-article__content_size_m {
    padding: 15px;
  }
}

.card-article__content_size_s {
  padding: 15px 30px 15px;
}

@media screen and (max-width: 425px) {
  .card-article__content_size_s {
    padding: 10px 15px 15px;
  }
}

.card-article__image {
  display: block;
  border-radius: 15px;
  overflow: hidden;
  padding: 0;
  width: 100%;
  object-fit: cover;
  height: 394px;
}

@media screen and (max-width: 1400px) {
  .card-article__image {
    height: 346px;
  }
}

@media screen and (max-width: 860px) {
  .card-article__image {
    height: 142px;
  }
}
