.subtitle {
  font-family: 'Proto-Grotesk-Ligth-Web', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 44px;
  line-height: 1.14;
  margin: 0;
}

@media screen and (max-width: 1400px) {
  .subtitle {
    font-size: 19px;
    line-height: 1.21;
  }
}
