.guide-subtitle {
  margin: 0;
  text-decoration: none;
  font-family: "Proto-Grotesk-Ligth-Web", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: var(--color-blue);
  cursor: pointer;
}

.guide-subtitle:hover {
  color: var(--color-dark);
}
