.page__container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 75px;
}

@media screen and (max-width:1440px) {
  .page__container {
    padding: 0 135px;
  }
}

@media screen and (max-width:1024px) {
  .page__container {
    padding: 0 127px;
  }
}

@media screen and (max-width:560px) {
  .page__container {
    padding: 0 15px;
  }
}

