.about-page {
}

.about-page__subtitle {
  max-width: 1170px;
  width: 100%;
  text-align: center;
}

.about-page__logo {
  width: 357px;
  height: 65px;
  margin-top: 50px;
  margin-bottom: 80px;
  background-image: url("../images/logo_inAuth.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
}

.about-page__card-article {
  border-radius: 50%;
  display: flex;
  width: 100%;
  height: 570px;
}

.about-page__call-container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.about-page__call-text {
  max-width: 1170px;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .about-page__subtitle {
    max-width: 1030px;
  }

  .about-page__logo {
    width: 252px;
    height: 46px;
  }

  .about-page__card-article {
    width: 370px;
    justify-self: center;
    height: 358px;
  }

  .about-page__call-text {
    max-width: 984px;
  }
}

@media screen and (max-width: 1280px) {
  .about-page__subtitle {
    max-width: unset;
  }

  .about-page__logo {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .about-page__call-container {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

}

@media screen and (max-width: 680px) {
  .about-page__logo {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .about-page__card-article {
    width: 290px;
    height: 290px;
  }

  .about-page__call-text {
    max-width: unset;
    width: 100%;
  }
}
