.block-article {
  display: grid;
  grid-template-columns: 1fr 585px;
  grid-template-rows: fit-content;
  justify-content: center;
}

.block-article_type_about-page {
  grid-template-columns: 570px 600px;
  grid-template-rows: unset;
  align-items: center;
}

@media screen and (max-width: 1420px) {
  .block-article {
    grid-template-columns: 1fr;
    grid-template-rows: fit-content 188px;
  }
  .block-article_type_about-page {
    grid-template-columns: 1fr;
    grid-template-rows: 358px 1fr;
  }
}

@media screen and (max-width: 860px) {

  .block-article_type_about-page {
    grid-template-rows: 358px 1fr;
  }
}

@media screen and (max-width: 680px) {
  .block-article_type_about-page {
    grid-template-rows: fit-content 1fr;
  }
}
