.block-article {
  display: grid;
  grid-template-columns: 1fr 585px;
  grid-template-rows: 629px;
  justify-content: center;
}

.block-article_type_about-page {
  grid-template-columns: fit-content 600px;
  grid-template-rows: unset;
}

@media screen and (max-width: 1400px) {
  .block-article {
    grid-template-columns: 1fr;
    grid-template-rows: 537px 188px;
  }
}

@media screen and (max-width: 860px) {
  .block-article {
    grid-template-columns: 1fr;
    grid-template-rows: 333px 188px;
  }
}
