.button {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid var(--color-blue);
  border-radius: 100px;
  background-color: transparent;
  padding: 10px 20px;
  color: var(--color-blue);
  font-family: 'Proto-Grotesk-Ligth-Web', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.26;
  letter-spacing: 0.2px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-light-blue);
}

.button:active {
  background-color: var(--color-blue);
  color: #fff;
}

.button:visited:hover {
  border-color: var(--color-dark);
  background-color: var(--color-dark);
  color: #fff;
}

.button:visited:active {
  border-color: var(--color-blue);
  background-color: var(--color-blue);
}

@media screen and (max-width: 1024px) {
  .button {
    padding: 10px 15px;
    font-size: 12px;
    line-height: 1.42;
  }
}
