.button_inactive {
  border: 1px solid #000;
  color: #000;
}

.button_inactive:hover {
  background-color: var(--color-light-grey);
}

.button_inactive-pressed {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.button_inactive-pressed:hover {
  background-color: var(--color-light-grey);
}

.button_inactive:active {
  background-color: #000;
}

.button_inactive:visited:active {
  border-color: #000;
  background-color: #000;
}

.button_disabled {
  border-color: var(--color-light-grey);
  color: var(--color-light-grey);
}

.button_disabled:hover {
  background-color: transparent;
}
