.button {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid var(--color-blue);
  border-radius: 100px;
  background-color: transparent;
  padding: 13px 20px 16px;
  color: var(--color-blue);
  font-family: 'Proto-Grotesk-Ligth-Web', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.27;
  letter-spacing: 0.2px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: var(--color-light-blue);
}

.button:active {
  background-color: var(--color-blue);
  color: #fff;
}

.button:visited:hover {
  border-color: var(--color-dark);
  background-color: var(--color-dark);
  color: #fff;
}

.button:visited:active {
  border-color: var(--color-blue);
  background-color: var(--color-blue);
}

.button_active {
  background-color: var(--color-blue);
  color: #fff;
}

.button_inactive {
  border: 1px solid #000;
  color: #000;
}

.button_inactive:hover {
  background-color: var(--color-light-grey);
}

.button_inactive-pressed {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.button_inactive-pressed:hover {
  background-color: var(--color-light-grey);
}

.button_inactive:active {
  background-color: #000;
}

.button_inactive:visited:active {
  border-color: #000;
  background-color: #000;
}

.button_disabled {
  border-color: var(--color-light-grey);
  color: var(--color-light-grey);
}

.button_disabled:hover {
  background-color: transparent;
}

.button_type_heading {
  background-color: var(--color-background);
  border-radius: 15px;
  border: none;
  padding: 2px 7px;
  text-transform: uppercase;
  color: var(--color-dark-grey);
  letter-spacing: 1px;
  font-family: 'PTRootUIWebRegular', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.3;
  cursor: pointer;
}

/* @media screen and (max-width: 1024px) {
  .button {
    padding: 10px 15px;
    font-size: 12px;
    line-height: 1.42;
  }
} */
