.card-and-story {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 520px;
  column-gap: 30px;
  justify-content: center;
}

@media screen and (max-width: 1440px) {
  .card-and-story {
    grid-template-rows: 414px;
  }
}

@media screen and (max-width: 1024px) {
  .card-and-story {
    grid-template-rows: 382px;
  }
}

@media screen and (max-width: 860px) {
  .card-and-story {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 290px;
    row-gap: 30px;
  }
}
