.clickable-element {
  font-family: 'Proto-Grotesk-Ligth-Web', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.27;
  letter-spacing: 0.2px;
  text-decoration: none;
  margin: 0;
  color: var(--color-blue);
  cursor: pointer;
  transition: opacity .2s ease-in-out;
}

.clickable-element_place_header {
  color: #000;
}


.clickable-element:hover {
  color: var(--color-dark);
  opacity: 0.6;
}

.clickable-element_place_header:hover {
  color: #000;
}


@media screen and (max-width: 1024px) {
  .clickable-element {
    font-size: 12px;
    line-height: 1.42;
  }
}


