.content {
  padding-top: 80px;
  padding-bottom: 120px;
  display: grid;
  gap: 30px;
  justify-content: center;
}

.content_place_search {
  padding-top: 29px;
  min-height: calc(100vh - 56px);
}

.content_inactive {
  position: relative;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .content {
    padding-top: 30px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 860px) {
  .content {
    padding-top: 10px;
    padding-bottom: 50px;
  }
}
