.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  top: -80px;
  transition: top ease-in-out 1s;
  background-color: var(--color-background);
  padding-top: 40px;
  padding-bottom: 0;
  z-index: 1;
}

.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.header__overlay {
  position: fixed;
  border-radius: 0 0 30px 30px;
  left: 0;
  top: 0;
}

.header__overlay_active {
  opacity: 1;
  visibility: visible;
}

.header__logo {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  width: 183px;
  min-height: 30px;
  background-image: url("../images/logo.svg");
  transition: opacity .3s ease-in-out;
}

.header__logo:hover {
  opacity: 0.6;
}

.header__logo_type_active {
  background-image: url("../images/logo-linked.svg");
}



.header__menu {
  margin: 0;
  padding: 0;
  display: flex;
}

.header__menu_place_search {
  display: none;
}

.header__form {
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
}

.header__search {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #000;
  width: 55vw;
  background-color: transparent;
  outline: none;
}

.header__button_place_search {
  margin-right: 10px;
}

.header__menu-links {
  max-width: 740px;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 0 0;
  margin: 0;
}

.header__menu-link {
  margin: 0 30px 0 0;
  position: relative;
}

.header__menu-link:last-of-type {
  margin-right: 0;
}

.header__menu-socials {
  margin: 0;
  display: none;
}

.header__container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 84px;
  box-sizing: border-box;
}

.header__line {
  display: flex;
  width: 0.7px;
  margin: 0 0 0 20px;
  border-left: 0.7px solid var(--color-light-grey);
}

.header__button {
  display: flex;
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 0;
  box-sizing: content-box;
  min-width: 22px;
  min-height: 22px;
  transition: opacity .3s ease-in-out;
}

.header__button:hover {
  opacity: 0.6;
}

.header__button-close {
  display: none;
}

.header__button_type_menu {
  display: none;
  background-image: url("../images/menu.svg");
}

.header__button_type_personal-account {
  background-image: url("../images/personal-account.svg");
  margin-left: 20px;
}

.header__button_type_personal-account-active {
  background-image: url("../images/personal-account-active.svg");
  margin-left: 20px;
}

.header__button_type_search {
  background-image: url("../images/search.svg");
}

.header__menu-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.header__bottom-container {
  display: none;
}

.header__read-view-container {
  margin: 0;
  padding: 20px;
  display: grid;
  justify-items: start;
  row-gap: 10px;
  align-items: start;
  position: absolute;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--color-background);
  border-radius: 0px 0px 30px 30px;
  left: 0;
  top: 30px;
  width: 100%;
  opacity: 0;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  box-sizing: border-box;
  visibility: hidden;
  z-index: 2;
}

.header__menu-link_type_read-view:hover .header__read-view-container {
  opacity: 1;
  transition: opacity .3s ease-in-out;
  visibility: visible;
}

.header__clickable-element {
  color: #000;
}

@media screen and (max-width: 1320px) {
  .header {
    padding-top: 45px;
    padding-bottom: 15px;
  }

  .header__logo {
    width: 130px;
    min-height: 20px;
    background-size: contain;
  }

  .header__container {
    order: -1;
    min-width: 22px;
  }

  .header__line,
  .header__button_type_personal-account {
    display: none;
  }

  .header__button_type_personal-account-active {
    display: none;
  }

  .header__button_type_menu {
    display: flex;
  }

  .header__menu {
    display: none;
    padding: 25px 0 30px;
    order: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .header__menu-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .header__bottom-container {
    padding-top: 158px;
    margin: 0;
    display: grid;
    column-gap: 75px;
    grid-template-columns: repeat(2, max-content);
    color: var(--color-light-grey);
  }

  .header__city-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .header__city {
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .header__change-city {
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .header__exit {
    margin: 75px;
    padding: 0;
    cursor: pointer;
  }

  .header__menu-links {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding-top: 0;
  }

  .header__menu-socials {
    list-style: none;
    display: flex;
    padding: 0 0 0 26px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .header__menu-link {
    margin: 0 0 15px 0;
  }

  .header__menu-link:last-of-type {
    margin-bottom: 0;
  }

  .header__search {
    position: absolute;
    top: 50px;
    left: 0;
    width: calc(100vw - 2 * 127px);
  }

  .header__button-close {
    margin-left: auto;
  }

  .header__button_type_close::after {
    content: "";
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .header__search {
    width: calc(100vw - 2 * 15px);
  }
}

@media screen and (max-width: 380px) {
  .header {
    padding-top: 15px;
  }

  .header-logo {
    margin-left: 20px;
  }
}

@media screen and (min-width: 380px) {
  .header__button_type_close {
    margin-left: 0;
  }
}

@media screen and (min-width: 1920px) {
  .header_fixed {
    left: calc((100vw - 1920px)/2);
  }
}

.header__item_active {
  display: flex;
}

.header__item_inactive {
  display: none;
}
