.page {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  --color-background: #f3f2f2;
  --color-blue: #224cff;
  --color-dark: #2e2468;
  --color-grey: #e0e0e0;
  --color-dark-grey: #464646;
  --color-light-grey: #a7a6a6;
  --color-light-blue: #c8d1ff;
  --color-orange: #ff8585;
  --color-yellow: #f8d162;
  --color-green: #8cdd94;
  --color-error: #ff4e4e;
}

.page__container {
  margin: 0 auto;
  padding-left: 75px;
  padding-right: 75px;
  max-width: 1920px;
  background-color: var(--color-background);
  box-sizing: border-box;
}

@media screen and (max-width: 1480px) {
  .page__container {
    padding-left: 135px;
    padding-right: 135px;
  }
}

@media screen and (max-width: 1320px) {
  .page__container {
    padding-left: 127px;
    padding-right: 127px;
  }
}

@media screen and (max-width: 680px) {
  .page__container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
