.search-result {
  /* margin: 0; */
  padding: 0;
  list-style: none;
}

.search-result__item {
  border-bottom: .5px solid var(--color-light-grey);
  padding-top: 15px;
  padding-bottom: 5px;
  width: 55vw;
}

@media screen and (max-width: 1320px) {
  .search-result {
    padding-top: 20px;
    margin: 0 auto;
    /* width: 81vw; */
    width: calc(100vw - 2 * 127px);
  }

  .search-result__item {
    padding-top: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .search-result {
    width: calc(100vw - 2 * 15px);
  }
}
