.search-result {
  padding: 0;
  list-style: none;
}

.search-result__item {
  border-bottom: .5px solid var(--color-light-grey);
  padding-top: 15px;
  padding-bottom: 5px;
}

@media screen and (max-width: 1320px) {
  .search-result {
    padding-top: 20px;
    width: 100%;
  }

  .search-result__item {
    padding-top: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .search-result {
    width: 100%;
  }
}
