.three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(min-content, max-content);
  column-gap: 30px;
  justify-content: center;
  justify-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1280px) {
  .three-columns {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}