.title {
  font-family: 'Proto-Grotesk-Ligth-Web', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 1.3;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 19px;
    line-height: 1.21;
  }
}
