.video-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.video-card__image {
  width: 100%;
  object-fit: cover;
  height: 239px;
  border-radius: 30px 30px 0 0;
}

.video-card__description {
  border-radius: 0 0 30px 30px;
  display: flex;
  flex-direction: column;
  padding: 15px 40px;
  justify-content: space-between;
  align-items: center;
  min-height: 169px;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
}

.video-card__title {
  text-align: center;
}

.video-card__caption {
  text-align: center;
  margin-top: 5px;
  margin-bottom: auto;
}

.video-card__containter {
  display: flex;
  position: absolute;
  top: -28px;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
}

.video-card__category {
  height: 17px;
  max-width: 120px;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);
  font-family: "PTRootUIWebRegular", Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 2px 7px;
  box-sizing: content-box;
  border-radius: 15px;
  text-transform: uppercase;
}

@media screen and (max-width: 1910px) {
  .video-card:nth-child(n+4) {
    display: none;
  }
}

@media screen and (max-width: 1480px) {
  .video-card__image {
    height: 211px;
  }
}

@media screen and (max-width: 1435px) {
  .video-card:nth-child(n+3) {
    display: none;
  }
}


@media screen and (max-width: 860px) {
  .video-card:nth-child(n+2) {
    display: none;
  }

  .video-card__image {
    height: 165px;
  }
}

@media screen and (max-width: 460px) {
  
  .video-card__description {
    padding-left: 15px;
    padding-right: 15px;
  }

  .video-card__title {
    height: 46px;
  }

  .video-card__caption {
    height: 34px;
  }

}