.video-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.video-card__image {
  width: 100%;
  object-fit: cover;
  height: 239px;
  border-radius: 30px 30px 0 0;
}

.video-card__description {
  border-radius: 0 0 30px 30px;
  display: flex;
  flex-direction: column;
  padding: 15px 40px;
  justify-content: space-between;
  align-items: center;
  height: 169px;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
}

.video-card__title {
  text-align: center;
}

.video-card__caption {
  text-align: center;
  margin-top: 5px;
  margin-bottom: auto;
}

.video-card__containter {
  display: flex;
  position: absolute;
  top: -28px;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
}

@media screen and (max-width: 1910px) {
  .video-card:nth-child(n+4) {
    display: none;
  }
}

@media screen and (max-width: 1480px) {
  .video-card__image {
    height: 211px;
  }
}

@media screen and (max-width: 1435px) {
  .video-card:nth-child(n+3) {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .video-card__description {
    height: 147px;
  }
}


@media screen and (max-width: 860px) {
  .video-card:nth-child(n+2) {
    display: none;
  }

  .video-card__image {
    height: 163px;
  }

}

@media screen and (max-width: 460px) {

  .video-card__description {
    padding-left: 15px;
    padding-right: 15px;
  }

  .video-card__title {
    height: 46px;
  }

  .video-card__caption {
    height: 34px;
  }

}
