.videos-block {
  display: grid;
  grid-template-columns: repeat(4, 420px);
  grid-template-rows: 420px;
  column-gap: 30px;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1910px) {
  .videos-block {
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: 380px;
  }
}

@media screen and (max-width: 1435px) {
  .videos-block {
    grid-template-columns: repeat(2, 370px);
  }
}

@media screen and (max-width: 1010px) {
  .videos-block {
    grid-template-columns: repeat(2, 290px);
    grid-template-rows: 358px;
  }
}


@media screen and (max-width: 860px) {
  .videos-block {
    grid-template-columns: 370px;
    grid-template-rows: 310px;
  }
}

@media screen and (max-width: 400px) {
  .videos-block {
    grid-template-columns: 1fr;
  }
}
