.video-card {
  /* width: 100%; */
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* border-radius: calc(10 / 420 * 100%); */
  overflow: hidden;
}

.video-card__image {
  width: 100%;
  object-fit: cover;
  height: 239px;
  border-radius: 30px 30px 0 0;
}

.video-card__description {
  border-radius: 0 0 30px 30px;
  display: flex;
  flex-direction: column;
  padding: 15px 40px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: grey;
  box-sizing: border-box;
  position: relative;
}

.video-card__title {
  text-align: center;
  height: 60px;
  width: 100%;
  overflow: hidden;
}

.video-card__caption {
  width: 100%;
  display: flex;
  text-align: center;
  height: 38px;
  padding-bottom: 15px;
  overflow: hidden;
}

.video-card__conteinter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -28px;
  left: 50%;
  margin:0;
  transform: translateX(-50%);
}

.video-card__category {
  height: 17px;
  max-width: 120px;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: rgba(255,255,255,0.6);
  font-family: 'PTRootUIWebRegular', Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 2px 7px;
  box-sizing: content-box;
  border-radius: 15px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .video-card {
    width: 290px;
  }

  .video-card__image {
    height: 165px;
  }
  .video-card__description {
    padding-left: 15px;
    padding-right: 15px;
  }

  .video-card__title {
    height: 46px;
  }

  .video-card__caption {
    height: 34px;
  }
}
