.caption {
  font-family: 'PTRootUIWebRegular', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .caption {
    font-size: 12px;
    line-height: 17px;
  }
}
