.clickable-element {
  font-family: 'Proto-Grotesk-Ligth-Web', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  text-decoration: none;
  margin: 0;
  color: var(--color-blue);
}

.clickable-element:hover {
  color: var(--color-dark);
}

@media screen and (max-width: 1024px) {
  .clickable-element {
    font-size: 12px;
    line-height: 17px;
  }
}
