.clickable-header {
  margin: 0;
  text-decoration: none;
  font-family: "Proto-Grotesk-Ligth-Web", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: calc(30 / 23);
  color: #000;
  cursor: pointer;
}

.clickable-header:hover {
  color: var(--color-blue);
}
